.arrow {
  width: 16px;
  height: 27px;
  position: absolute;
  top: 48%;
}

.slider {
  .arrow-left {
    left: 2px;
  }

  .arrow-right {
    right: 0;
  }
}

.arrow-left {
  background: url("./src/assets/img/slider/arrow_left.png") no-repeat;
}

.arrow-right {
  background: url("./src/assets/img/slider/arrow_right.png") no-repeat;
}