.icon-circle {
  margin-top: 2px;
  box-sizing: content-box;
  height: 55px;
  max-width: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-text-additional-2;
  border-radius: 50%;
}

.ico_pen {
  height: 32px;
  width: 32px;
  background: url("./src/assets/img/services/pen.svg");
}

.ico_bulb {
  height: 32px;
  width: 22px;
  background: url("./src/assets/img/services/bulb.svg");
}

.ico_heart {
  height: 28px;
  width: 32px;
  background: url("./src/assets/img/services/heart.svg");
}

.ico_phone {
  height: 32px;
  width: 22px;
  background: url("./src/assets/img/services/phone.svg");
}

.ico_bubble {
  height: 28px;
  width: 32px;
  background: url("./src/assets/img/services/bubble.svg");
}

.ico_star {
  height: 32px;
  width: 31px;
  background: url("./src/assets/img/services/star.svg");
}