.social {
  display: flex;
}

.social__item {
  margin-right: 8px;
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #69708b;
  border-radius: 50%;
}

.social__item:last-child {
  margin-right: 0;
}

.social-facebook {
  height: 14px;
  width: 8px;
  background-image: url("./src/assets/img/social/facebook.svg");
}

.social-google {
  width: 14px;
  height: 14px;
  background-image: url("./src/assets/img/social/google+.svg");
}

.social-twitter {
  height: 12px;
  width: 14px;
  background: url("./src/assets/img/social/twitter.svg");
}

.social-linkedin {
  width: 14px;
  height: 14px;
  background-image: url("./src/assets/img/social/linkedin.svg");
}