$color-header: #2d303a;
$color-text: #494e62;
$color-text-additional-1: #666d89;
$color-text-additional-2: #767e9e;

$color-background-slider: #f06c64;
$color-background-services: #f2f2f2;
$color-background-portfolio: #2d303a;
$color-background-about-us: #f2f2f2;
$color-background-get-quote: #d6564f;
$color-background-footer: #2d303a;

$border-bottom-height: 6px;

$slider-height: 600px;

$content-width: 940px;
$mobile-big-width: 414px;
