.arrow {
  width: 16px;
  height: 27px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  //margin-left: 3px;
  background: url("./assets/img/slider/arrow_left.png") no-repeat;
}

.arrow-right {
  background: url("./assets/img/slider/arrow_right.png") no-repeat;
}

