.about-us {
  background-color: $color-background-about-us;
}

.about-us::after {
  content: '';
  display: block;
  background-color: white;
  height: $border-bottom-height;
}

.about-us__wrapper {
  padding: 63px 0 67px;
}

.about-us__title {
  margin-bottom: 21px;
  color: $color-text-additional-1;
  letter-spacing: -0.02rem;
}

.about-us__description {
  @include font($size: 1.8rem, $height: 3rem, $weight: 300);
  color: $color-text-additional-2;
  text-align: justify;
  margin-bottom: 8px;
}

.layout-3-column {
  .employee {
    margin-top: 37px;
    width: 300px;

    @include media-tablet {
      max-width: 32%;
    }
    @include media-mobile {
      flex-basis: 100%;
      max-width: 100%;
    }

  }
}

.employee__content {

}

.employee__photo {
  width: 100%;
  height: auto;
}

.employee__name {
  margin: 4px 0;
  @include font($size: 1.8rem, $height: 1.7, $weight: 900);
  color: $color-text-additional-1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -0.02rem;
}

.employee__text {
  margin-bottom: 24px;
  @include font($size: 1.2rem, $height: 2.15rem, $weight: 400);
  color: $color-text-additional-2;
  text-align: justify;
  letter-spacing: -0.006rem;
}