.portfolio {
  background-color: $color-background-portfolio;
}

.portfolio::after {
  content: '';
  display: block;
  background-color: #323746;
  height: $border-bottom-height;
}

.portfolio__wrapper {
  padding: 63px 0 67px;
}

.portfolio-title {
  margin-bottom: 21px;
  color: $color-text-additional-1;
}

.portfolio-description {
  margin-bottom: 6px;
  @include font($size: 1.8rem, $height: 1.7, $weight: 300);
  color: $color-text-additional-2;
  text-align: justify;
}

.portfolio-tags {
  display: inline-block;
}

.portfolio-works-container {
  width: calc(100% + 19px);
  height: 621px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  @include media-tablet {
    height: 828px;
  }
}

div[class^="portfolio-work-"] {
  margin-top: 20px;
  margin-right: 19px;
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 220px;
  height: 100%;
  max-height: 187px;
  background-size: cover;
  @include media-tablet {
    max-width: 33.333%;
  }

  @include media-mobile {
    &:nth-child(2n) {
      margin-right: 0;
    }

    max-width: 46%;
    flex-basis: 50%;
  }
}

.portfolio_selected {
  border: $border-width solid $border-selected-color;
}

.portfolio_hidden {
  display: none;
}

.portfolio-work-1 {
  background: url("./src/assets/img/portfolio/Portfolio-1.png") no-repeat center;
}

.portfolio-work-2 {
  background: url("./src/assets/img/portfolio/Portfolio-2.png") no-repeat center;
}

.portfolio-work-3 {
  background: url("./src/assets/img/portfolio/Portfolio-3.png") no-repeat center;
}

.portfolio-work-4 {
  background: url("./src/assets/img/portfolio/Portfolio-4.png") no-repeat center;
}

.portfolio-work-5 {
  background: url("./src/assets/img/portfolio/Portfolio-5.png") no-repeat center;
}

.portfolio-work-6 {
  background: url("./src/assets/img/portfolio/Portfolio-6.png") no-repeat center;
}

.portfolio-work-7 {
  background: url("./src/assets/img/portfolio/Portfolio-7.png") no-repeat center;
}

.portfolio-work-8 {
  background: url("./src/assets/img/portfolio/Portfolio-8.png") no-repeat center;
}

.portfolio-work-9 {
  background: url("./src/assets/img/portfolio/Portfolio-9.png") no-repeat center;
}

.portfolio-work-10 {
  background: url("./src/assets/img/portfolio/Portfolio-10.png") no-repeat center;
}

.portfolio-work-11 {
  background: url("./src/assets/img/portfolio/Portfolio-11.png") no-repeat center;
}

.portfolio-work-12 {
  background: url("./src/assets/img/portfolio/Portfolio-12.png") no-repeat center;
}

