.slider {
  //box-sizing: content-box;
  max-height: $slider-height;
  height: 59vw;;
  background: $color-background-slider;
}

.carousel {
  text-align: center;
}

.control {
  position: relative;
  width: 4%;
  height: 100%;
  cursor: pointer;
}

.slider::after {
  content: '';
  display: block;
  background-color: #ea676b;
  height: $border-bottom-height;
}

.slider__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.items-container {
  position: relative;
  //padding-right: calc(10% + 12px);
  //padding-left: 36px;
  display: flex;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  margin: 0 auto;
  display: none;
  height: 100%;
  width: 100%;
  animation: 0.5s ease-in-out;
}

.active,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.iphone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 483px;
  width: 100%;
  max-width: 796px;

  .iphone__layout {
    position: relative;
    z-index: 1;
    height: 45vw;
    max-height: 458px;
    width: 21.2vw;
    max-width: 216px;
  }

  .iphone__screen {
    position: absolute;
    z-index: 2;
  }

  .iphone__home-btn {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    width: 22%;
    height: 9.5%;
    cursor: pointer;
  }

  .iphone_vertical,
  .iphone_horizontal {
    position: relative;

    .iphone__shadow {
      position: absolute;
      height: 104.007%;
      width: 111.115%;
    }
  }

  .iphone_vertical {
    top: -16px;
    max-width: 216px;

    @include media-tablet {
      top: 0;
    }

    .iphone__screen {
      left: 6%;
      top: 14%;
      width: 88.5%;
      height: 72.5%;
      max-height: 333px;
      max-width: 188px;
    }

    .iphone__home-btn {
      bottom: 4%;
      left: 39.5%;
    }

    .iphone__shadow {
      left: 0;
    }
  }

  .iphone__screen-disabled {
    filter: brightness(0) opacity(1) drop-shadow(0 0 0 rgb(0, 0, 0));
  }

  .iphone_horizontal {
    top: -16px;
    right: 5px;
    max-width: 459px;
    transform: rotate(90deg) translateY(31%);

    @include media-tablet {
      top: 0;
    }

    .iphone__home-btn {
      transform: rotate(90deg);
      bottom: 3%;
      left: 39%;
    }

    .iphone__screen {
      transform: rotate(-90deg) translate(-41%, -147.5%);
      width: 33.5vw;
      max-width: 333px;
      height: 18.5vw;
      max-height: 188px;
    }

    .iphone__shadow {
      transform: scale(1, -1) translate(-90%, 7%);;
    }
  }
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}